@{
    ViewBag.Title = "Slet bruger";
}

<h2>Slet bruger</h2>

<p>
    Er du sikker på du vil slette brugeren:  <b> @ViewBag.UserName </b> ?
</p>

@Html.ActionLink("Slet bruger", "DeleteUserSuccess",  new { UserName = ViewBag.UserName })
@Html.ActionLink("Fortryd sletning", "DeleteUserFailure")
