@model System.Web.Security.MembershipUserCollection

@{
    ViewBag.Title = "Brugerliste";
}

<h2>UserList</h2>
<table class="standard">
    <tr>
        <th>
            Brugernavn
        </th>
        <th></th>
        <th>Status</th>
    </tr>
@foreach (MembershipUser user in Model)
{

    if (!Roles.GetUsersInRole("Admin").Contains(user.UserName))
    {
      <tr>
        <td>
            @user.UserName
        </td>
        <td>
           @Html.ActionLink("Brugerside", "UserProfile",  new { UserName = user.UserName }) | @Html.ActionLink("Rediger adgangskode", "ChangePassword", new { UserName = user.UserName }) | @Html.ActionLink("Slet bruger", "DeleteUser", new { UserName = user.UserName })   
        </td>    
            @if (user.IsOnline)
            {
                <td><span style="color:green">Online</span></td>
            }

            @if (!user.IsOnline)
            {
                <td><span style="color:red">Offline</span></td>
            }                   
      </tr> 
    }
}
</table>