@model MembershipUser

@{
    ViewBag.Title = "UserProfile";
}

<h2>UserProfile</h2>
   <h2>Brugerside for @Model.UserName </h2>
    <div style="position: relative; float: right; width: 200px; height: 200px">
        <fieldset>
            <legend>Highscore</legend>
            <table class="bottomBorder">
                <tr>
                    <td width=100>1 Bob</td>
                    <td width=100 align=right>9001</td>
                </tr>
                <tr>
                    <td width=100>2 Ib</td>
                    <td  width=100 align=right>1337</td>
                </tr>
                <tr>
                    <td width=100>3 Ib</td>
                    <td  width=100 align=right>1337</td>
                </tr>
                <tr>
                    <td width=100>4 Ib</td>
                    <td  width=100 align=right>1337</td>
                </tr>
                <tr>
                    <td width=100>5 Ib</td>
                    <td  width=100 align=right>1337</td>
                </tr>
                <tr>
                    <td width=100>6 Ib</td>
                    <td  width=100 align=right>1337</td>
                </tr>
                <tr>
                    <td width=100>7 Ib</td>
                    <td  width=100 align=right>1337</td>
                </tr>
                <tr>
                    <td width=100>8 Ib</td>
                    <td  width=100 align=right>1337</td>
                </tr>
                <tr>
                    <td width=100>9 Ib</td>
                    <td  width=100 align=right>1337</td>
                </tr>
                <tr>
                    <td width=100>10 Ib</td>
                    <td  width=100 align=right>1337</td>
                </tr>
            </table>
        </fieldset>
    </div>
    
    <br />
    <br />
    <br /><br />
<br /><br />    <br />
<br /><br />    
<br /><br />    
<br /><br />    
<br /><br />    
<br /><br />    
    
    
    
    
    
    
    
}