@model MembershipUser

@{
    ViewBag.Title = "UserProfile";
}

<br />
    
    <div id="box">
        <div id="lb"><div id="rb">
        <div id="bb"><div id="blc"><div id="brc">
        <div id="tb"><div id="tlc"><div id="trc">
            <div id="content">
                <table class="invis">
                    <tr>
                        <td width=250><h2>@User.Identity.Name</h2></td>
                        <td width=250><b>Point:</b> 1337</td>
                        <td width=250><b>Bedst til emnet:</b> Trigonometri</td>
                    </tr>
                    <tr> 
                        <td width=250><b>Bedste dag:</b> Mandag d. 23/4</td>
                        <td width=250><b>Flest opgaver lavet:</b> Geometri (73)</td>
                        <td width=250><b>Flest opgaver løst:</b> Trigonometri (56)</td>
                    </tr>
                </table>
            </div>
        </div></div></div></div>
        </div></div></div></div>
    </div>
    
    <br /><br /><br />
    
    <div style="position: relative; float: right; width: 200px; height: 200px">
        <fieldset>
            <legend>Highscore</legend>
            <table class="bottomBorder">
                <tr>
                    <td width=100>1 Bob</td>
                    <td width=100 align=right>9001</td>
                </tr>
                <tr>
                    <td width=100>2 Ib</td>
                    <td width=100 align=right>1337</td>
                </tr>
                <tr>
                    <td width=100>3 Ib</td>
                    <td width=100 align=right>1337</td>
                </tr>
                <tr>
                    <td width=100>4 Ib</td>
                    <td width=100 align=right>1337</td>
                </tr>
                <tr>
                    <td width=100>5 Ib</td>
                    <td width=100 align=right>1337</td>
                </tr>
                <tr>
                    <td width=100>6 Ib</td>
                    <td width=100 align=right>1337</td>
                </tr>
                <tr>
                    <td width=100>7 Ib</td>
                    <td width=100 align=right>1337</td>
                </tr>
                <tr>
                    <td width=100>8 Ib</td>
                    <td width=100 align=right>1337</td>
                </tr>
                <tr>
                    <td width=100>9 Ib</td>
                    <td width=100 align=right>1337</td>
                </tr>
                <tr>
                    <td width=100>10 Ib</td>
                    <td width=100 align=right>1337</td>
                </tr>
            </table>
        </fieldset>
    </div>
    
    <h2>Her er mere info:</h2>
    <br /><br /><br />
    <br /><br /><br />
    <br /><br /><br />
    <br /><br /><br />