@model ELearning.Models.Assignment

@{
    ViewBag.Title = "CreateSubject";
}

<h2>Opret nyt emne</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Emne</legend>
        <div class="editor-field">
            @Html.EditorFor(model => model.SubjectId)
            @Html.ValidationMessageFor(model => model.SubjectId)
        </div>
        <input type="submit" value="Opret" />
    </fieldset>
}
