@model ELearning.Models.Assignment

@{
    ViewBag.Title = "Delete";
}

<h2>Slet</h2>

<h3>Er du sikker på du vil slette denne opgave?</h3>
<fieldset>
    <legend>Opgave</legend>

    <div class="display-label">Tekst</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Text)
    </div>
</fieldset>
@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="Slet" /> |
        @Html.ActionLink("Tilbage", "Index")
    </p>
}
