@{
    ViewBag.Title = "Index";
}

<h2>Assignments</h2>

<center>
<table border="1">
<tr>
<th>Opgavetekst</th>
<th>Mellemregning</th>
<th>Resultat</th>
</tr>
<tr>
<td>We would like to have random math text here</td>
<td><p>Randomtextforbutton <input type="radio" name="group1" value="Milk" /></p>
<p>Randomtextforbutton <input type="radio" name="group1" value="Butter" /></p>
<p>Randomtextforbutton <input type="radio" name="group1" value="Cheese" /></p> 
<p>Randomtextforbutton <input type="radio" name="group1" value="Cheese" /></p> </td>
<td><p>final answer <input type="text" size="25" value="" /></p></td>
</tr>
</table>
</center>

<center><button type="button">Submit</button></center>