@{
    ViewBag.Title = "Index";
}

<h2>Assignments</h2>

 <div id="box">
        <div id="lb"><div id="rb">
        <div id="bb"><div id="blc"><div id="brc">
        <div id="tb"><div id="tlc"><div id="trc">
            <div id="content">
                <center><table border="0" cellspacing="4" cellpadding="40" rules="cols" frame="void">
                    <tr>
                    <th>Opgavetekst</th>
                    <th>Mellemregning</th>
                    <th>Resultat</th>
                    </tr>
                    <tr>
                    <td>Når man skal udregne 2+2, hvad er så vigtigt at huske?</td>
                    <td><p>At man skal regne dansk moms med <input type="radio" name="group1" value="0" /></p>
                    <p>At sige til sin lære man ikke forstår det <input type="radio" name="group1" value="1" /></p>
                    <p>At man har fingre nok til at tælle det <input type="radio" name="group1" value="2" /></p> 
                    <p>Ved ikke <input type="radio" name="group1" value="3" /></p> </td>
                    <td><p>Endelige svar <input type="text" size="25" value="" /></p></td>
                    </tr>
                </table></center>
                <center><button type="button">Submit</button></center>
            </div>
        </div></div></div></div>
        </div></div></div></div>
    </div>

