@model ELearning.Models.Assignment
@{
    ViewBag.Title = "result";
}


<h2>Result</h2>

<h4>Udregn stykket: 1+2*2/(7-4)</h4>      
 
 <div id="box">
        <div id="lb"><div id="rb">
        <div id="bb"><div id="blc"><div id="brc">
        <div id="tb"><div id="tlc"><div id="trc">
            <div id="content">   
                    <center>
                        <table border="0" cellspacing="4" cellpadding="40" rules="cols" frame="void">
                            <tr>
                                <th width="250">Opgavetekst</th>
                                <th width="300">Mellemregning</th>
                                <th width="150">Resultat</th>
                            </tr>
                            <tr>
                                @{   if (Model.TheoryAnswer.Equals(1))
                                          {
                                              <td align="right">
                                                <div><span style="color:#FF0000">udregnes i rækkefølgen: + * / -</span> 
                                                </div>
                                     
                                                <div>udregnes i rækkefølgen: * / + -
                                                </div>
                                    
                                                <div>udregnes i rækkefølgen: - * / + 
                                                </div> 
                                    
                                                <div>udregnes i rækkefølgen: / * - +  
                                               </div></td>
                                          }

                                     else if (Model.TheoryAnswer.Equals(2))
                                          {
                                              <td align="right">
                                                <div>udregnes i rækkefølgen: + * / - 
                                                </div>
                                     
                                                <div><span style="color:#FF0000">udregnes i rækkefølgen: * / + -</span>
                                                </div>
                                    
                                                <div>udregnes i rækkefølgen: - * / + 
                                                </div> 
                                    
                                                <div>udregnes i rækkefølgen: / * - +  
                                               </div></td>
                                          }

                                     else if (Model.TheoryAnswer.Equals(3))
                                          {
                                              <td align="right">
                                                <div>udregnes i rækkefølgen: + * / - 
                                                </div>
                                     
                                                <div>udregnes i rækkefølgen: * / + -
                                                </div>
                                    
                                                <div><span style="color:#00FF00">udregnes i rækkefølgen: - * / +  </span>
                                                </div> 
                                    
                                                <div>udregnes i rækkefølgen: / * - +  
                                              </div></td>
                                          }

                                     else if (Model.TheoryAnswer.Equals(4))
                                          {
                                              <td align="right">
                                                <div>udregnes i rækkefølgen: + * / - 
                                                </div>
                                     
                                                <div>udregnes i rækkefølgen: * / + -
                                                </div>
                                    
                                                <div>udregnes i rækkefølgen: - * / +  
                                                </div> 
                                    
                                                <div><span style="color:#FF0000">udregnes i rækkefølgen: / * - +  </span>
                                              </div></td>
                                          }
                                          }
     
                                     @{   if (Model.Answer.Equals(1))
                                          {
                                              <td align="right">
                                                <div><span style="color:#00FF00">4/3+1</span>  
                                                </div>
                                     
                                                <div>-24/7+1
                                                </div>
                                    
                                                <div>6/7-4 
                                                </div> 
                                    
                                                <div>11/7-4 
                                               </div></td>
                                          }
                                          
                                          else if (Model.Answer.Equals(2))
                                          {
                                              <td align="right">
                                                <div>4/3+1
                                                </div>
                                     
                                                <div><span style="color:#FF0000">-24/7+1</span>
                                                </div>
                                    
                                                <div>6/7-4 
                                                </div> 
                                    
                                                <div>11/7-4 
                                               </div></td>
                                          }
                                          
                                          else if (Model.Answer.Equals(3))
                                          {
                                              <td align="right">
                                                <div>4/3+1 
                                                </div>
                                     
                                                <div>-24/7+1 
                                                </div>
                                    
                                                <div><span style="color:#FF0000">6/7-4 </span>
                                                </div> 
                                    
                                                <div>11/7-4 
                                              </div></td>
                                          }

                                          else if (Model.Answer.Equals(4))
                                          {
                                              <td align="right">
                                                <div>4/3+1  
                                                </div>
                                     
                                                <div>-24/7+1
                                                </div>
                                    
                                                <div>6/7-4
                                                </div> 
                                    
                                                <div><span style="color:#FF0000">11/7-4 </span>
                                              </div></td>
                                          }
                                          }
                                
                                
                                    @{
                                          if (Model.FinalAnswer.Equals(1))
                                          {
                                            <td align="right">
                                              <div><span style="color:#FF0000">-22/7</span></div>
                                              <div>7/3</div>
                                              <div>-17/7</div>
                                              <div>4</div>
                                            </td>
                                          }
                                          
                                          else if (Model.FinalAnswer.Equals(2))
                                          {
                                            <td align="right">
                                              <div>-22/7</div>
                                              <div><span style="color:#00FF00">7/3</span></div>
                                              <div>-17/7</div>
                                              <div>4</div>
                                            </td>
                                          }
                                          
                                          else if (Model.FinalAnswer.Equals(3))
                                          {
                                            <td align="right">
                                             <div>-22/7</div>
                                             <div>7/3</div>
                                             <div><span style="color:#FF0000">-17/7</span></div>
                                             <div>4</div>
                                            </td>
                                          }
                                          
                                          else if (Model.FinalAnswer.Equals(4))
                                          {
                                            <td align="right">
                                              <div>-22/7</div>
                                              <div>7/3</div>
                                              <div>-17/7</div>
                                              <div><span style="color:#FF0000">4</span></div>
                                            </td>
                                          }
                                    }                               
                            </tr>
                        </table>
                    </center>
            </div>
        </div></div></div></div>
        </div></div></div></div>
    </div>
       
       